{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Phrase translations{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}Phrase translations{% endtrans %}</h1>
<form action="{{ path('task_translate', {'id' : task.id}) }}" method="post">
    <table cellpadding="10">
        <tr>
            <th>{% trans %}Language{% endtrans %}</th>
            <th>{% trans %}Phrase{% endtrans %}</th>
        </tr>
        <tr>
            <td>
                {% trans %}Russian{% endtrans %}
            </td>
            <td>
                {{ task.translate('ru').content }}
            </td>
        </tr>
        <tr>
            <td>
                {% trans %}English{% endtrans %}
            </td>
            <td>
                {% if task.translate('en').content != task.translate('ru').content %}
                {{ task.translate('en').content }}
                {% else %}
                <input type="text" name="enContent" id="enContent"/>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {% trans %}France{% endtrans %}
            </td>
            <td>
                {% if task.translate('fr').content != task.translate('ru').content %}
                {{ task.translate('fr').content }}
                {% else %}
                    <input type="text" name="frContent" id="frContent"/>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {% trans %}German{% endtrans %}
            </td>
            <td>
                {% if task.translate('de').content != task.translate('ru').content %}
                {{ task.translate('de').content }}
                {% else %}
                    <input type="text" name="deContent" id="deContent"/>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {% trans %}Italian{% endtrans %}
            </td>
            <td>
                {% if task.translate('it').content != task.translate('ru').content %}
                {{ task.translate('it').content }}
                {% else %}
                    <input type="text" name="itContent" id="itContent"/>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {% trans %}Spanish{% endtrans %}
            </td>
            <td>
                {% if task.translate('es').content != task.translate('ru').content %}
                {{ task.translate('es').content }}
                {% else %}
                    <input type="text" name="esContent" id="esContent"/>
                {% endif %}
            </td>
        </tr>
    </table>
    <input type="submit" value="{% trans %}Save{% endtrans %}">
</form>


    <br/><br/><br/><h4><a href="{{ path('tasks') }}">{% trans %}Back{% endtrans %} >></a></h4>

{% endblock %}

